* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    width: 85%;
    margin: 5% auto;
    background-color: rgb(243, 212, 243);
    padding: 25px;
}

.grid-item {
    text-align: center;
}

.grid-item > div {
    display: flex;
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
}

.one {
    grid-column: 1 / 5;
}

.two {
    grid-column: 1 / 3;
}

.three {
    grid-column: 3 / 5;
}